<!DOCTYPE html>
<html>
  <head>
    <title>Doces 1</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <section class="sessao rosa-fundo">
      <%- include('partials/header') %>
  <h2>Doces Categoria 1</h2>
  <div class="produtos">
    <div class="produto">Brigadeiro</div>
    <div class="produto">Beijinho</div>
    <div class="produto">Casadinho</div>
  </div>
  <a href="/info1" class="botao-info">Ver Mais</a>
</section>
  </body>
</html>

